<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanScope" class="org.spring.bean.BeanScope" scope="singleton"/>
    <!--<bean id="beanScope" class="org.spring.bean.BeanScope" scope="prototype"/>-->
    <!--<bean id="beanScope" class="org.spring.bean.BeanScope" scope="singleton"/>-->
    <!--<bean id="beanScope" class="org.spring.bean.BeanScope" scope="request"/>-->
    <!--<bean id="beanScope" class="org.spring.bean.BeanScope" scope="session"/>-->
    <!--<bean id="beanScope" class="org.spring.bean.BeanScope" scope="globalSession"/>-->
</beans>