<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 设置注入
        <bean id="injectionService" class="org.spring.ioc.injection.service.InjectionServiceImpl">
            <property name="injectionDAO" ref="injectionDAO" />
        </bean>
    -->

    <bean id="injectionService" class="org.spring.ioc.injection.service.InjectionServiceImpl">
        <constructor-arg name="injectionDAO" ref="injectionDAO" />
    </bean>
    <bean id="injectionDAO" class="org.spring.ioc.injection.dao.InjectionDAOImpl" />
</beans>