<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-autowire="byName"
        >

    <!-- default-autowire="byName"
         不必显示写property标签，简化配置文件
         如果没有对应协作对象的id，则什么也不做，也即是不会初始化该协作对象（依赖的对象）
         调用setter方法注入依赖的对象
     -->

    <!-- default-autowire="byType"
     不必写依赖的对象的id，根据协作对象（依赖对象）的类型初始化并注入对象
     调用setter方法注入依赖的对象
    -->

    <!-- default-autowire="constructor"
     不必写依赖的对象的id，根据协作对象（依赖对象）的类型初始化并注入对象
     调用constructor方法注入依赖的对象
    -->

    <bean id = "autoWiringService" class="org.spring.autowiring.AutoWiringService"/>

    <bean id="autoWiringDAO" class="org.spring.autowiring.AutoWiringDAO"/>
</beans>