<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="simpleexample.BlogMapper">  <!-- 命名空间不可少 -->
    <select id="selectBlog" parameterType="int" resultType="simpleexample.Blog">
        select * from Blog where id = #{id}
    </select>
</mapper>