table{
		border:#249bdb 1px solid;
		width:500px;
		border-collapse:collapse;
}
table td{
		border:#249bdb 1px solid;
		padding:10px;
}
table th{
		border:#249bdb 1px solid;
		padding:10px;
		background-color: rgb(200,200,200);
}