<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd_HH:mm:ss:SSS}\t[%p]%F\t%L\t%M\t%m%n"/>
        </layout>
    </appender>


    <category name="tool.logging" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT"/>
    </category>


    <root>
        <priority value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>